.header {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  border-color: #000000;
  //justify-content: flex-end;

  .list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 5px;
    a {
      text-decoration: none;
      color: #000000;

      &:hover,
      &.active {
        color: #b57d7d;
      }
    }
  }
}
